#containerlogin {
  background-image: url("https://img.freepik.com/free-photo/blue-brushstrokes-background_125540-809.jpg?w=1060&t=st=1669718465~exp=1669719065~hmac=72414161a7133b1a5be54662892d8d9f665baa75b30b429d14d115c8e7f2cb1d");
  background-size: 120%;
  padding: 2rem;
  padding-top: 6rem;
  text-align: center;
  font-family: "Sarabun", sans-serif;
}

.tombol {
  text-decoration: none;
}
