#containerlogin {
  background-image: url("../../assets/bg.png");
  background-size: 120%;
  padding: 2rem;
  padding-top: 6rem;
  text-align: center;
  font-family: "Sarabun", sans-serif;
}

.tombol {
  text-decoration: none;
}
